@charset "utf-8";
html
{
background-color:aquamarine;
    
    opacity: 1.0;
}
#one:first-of-type::first-line
{
    background-color: aquamarine;
    font-variant: small-caps;
}
#two:first-of-type::first-line
{
background-color: bisque;
font-variant: small-caps;
}
footer {
	font-size: 0.9em;
    background-color: dodgerblue;
    display: block;
}